{% extends 'base.html' %}

{% block app_content %}

<div class="container">
        <div class="row">
          <div class="col-md-2">
            <div class="card">TBD</div>

          </div>
          <div class="col-md-6">
            <div class="card">
              <h2>Prologue</h2>
              <h4>From 1990-Summer 2019</h4>
              <img src="../static/images/IMG_MOBILE.jpg" alt="Mobile Cathedral">
              <p>I come from a large Catholic family in Alabama. For as far back as I could remember, I had wanted to be a priest, and spent most of my adult life in that pursuit. It was a wonderful, but trying experience. So trying, that it led me to the difficult conclusion that I could not do it well for the rest of my life, and so it was not my true calling. I knew I needed to make a change.</p>
            </div>
            <div class="card">
              <h2>Act 2</h2>
              <h4>Fall 2019</h4>
              <img src="../static/images/IMG_MEANDBRO.jpg" alt="Me and my brother">
              <p>After deciding to make a radical change in my life, I receive the hard sell from my brother to come move up to Boston and study coding. Now I currently live with him, his wife, his three kids (ages 7, 5, and a newborn), and their dog... It's pretty crowded</p>
            </div>
          </div>   <!-- ends col-md-8 -->
          <div class="col-md-4">
              <div class="card">
                <h2>Basic Stats</h2>
                <img src="../static/images/IMG_ME.jpg" alt="My Face" class=face>
                <ul>
                  <li>Age: 29</li>
                  <li>Alma Mater: Rice University</li>
                  <li>Hometown: Mobile, AL</li>
                  <li>Hogwarts House: Hufflepuff</li>
                </ul>
              </div>

              <div class="card">
                <h3>Why OG of Bashan?</h3>
                <p class="quote">
                  Through the desert his people he led, <br> for his mercy endures forever.<br>       Nations in their greatness he struck,<br> for his mercy endures forever.<br> Kings in their splendor he slew,<br> for his mercy endures forever:<br> Sihon, king of the Amorites,<br> for his mercy endures forever;<br> and <strong>Og, the king of Bashan,</strong><br> for his mercy endures forever.<br> He gave their land as a heritage,<br> for his mercy endures forever;<br> a heritage for Israel, his servant,<br>  for his mercy endures forever.<br>  He remembered us in our distress,<br> for his mercy endures forever.</p>
                   <h6>Psalm 136:16-23</h6>
              </div>
              <div class="card">
                <h3>Some Stuff I Like</h3>
                <img src="../static/images/IMG_ROLLTIDE.svg" alt='University of Alabama Logo'>
                <img src="../static/images/IMG_TARDIS.jpg" alt="TARDIS">
                <img src="../static/images/IMG_CLEANBANDIT.jpg" alt="Clean Bandit">
                <img src="../static/images/IMG_SPIDERMAN.jpeg" alt="Spider-Man">
              </div>
            </div>
          </div>
      </div> <!-- ends container -->

{% endblock %}
